name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "version"
        required: true
        type: string

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { os: freebsd, arch: amd64 }
          - { os: freebsd, arch: "386" }
          - { os: freebsd, arch: arm, goarm: "6" }
          - { os: freebsd, arch: arm, goarm: "7" }
          - { os: freebsd, arch: arm64 }
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: SagerNet/sing-box
          ref: v${{ inputs.version }}
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25.5
      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS='with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale'
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"
      - name: Build
        run: |
          set -xeuo pipefail
          mkdir -p dist
          go build -v -trimpath -o dist/sing-box -tags "${BUILD_TAGS}" \
          -ldflags '-s -buildid= -X github.com/sagernet/sing-box/constant.Version=${{ inputs.version }}' \
          ./cmd/sing-box
        env:
          CGO_ENABLED: "0"
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          GOARM: ${{ matrix.goarm }}
      - name: Prepare
        run: |
          set -xeuo pipefail
          mkdir -p dist/output
          mv dist/sing-box dist/output
          cp LICENSE dist/output
          cd dist
          mv output sing-box-${{ inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.goarm && format('v{0}', matrix.goarm) }}
          tar -czf sing-box-${{ inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.goarm && format('v{0}', matrix.goarm) }}.tar.gz \
          sing-box-${{ inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.goarm && format('v{0}', matrix.goarm) }}
          rm -rf dist/sing-box-${{ inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.goarm && format('v{0}', matrix.goarm) }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}_${{ matrix.arch }}${{ matrix.goarm && format('v{0}', matrix.goarm) }}
          path: "dist"
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: 
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
          merge-multiple: true
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*.tar.gz"
          name: ${{ inputs.version }}
          tag: v${{ inputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
